.CV_box {
  position: relative;
  padding-top: 50px;
  min-height: 94vh;
  font-size: 24px;
}

.title_box {
  position:relative;
  width: 70%;
  left: 15%;
  margin-top: 60px;
  text-align: center;
  font-size: 22px;
}

.night .CV_box {
  background-color: rgb(41, 41, 48);
  color: white;
}

.question_buttons {
  display: flex;
  position: relative;
  width:90%;
  left:9%;
  margin-top: 50px;
}

.question_buttons > div {
  flex-grow: 1;
}

.question_buttons > div > div {
  position: relative;
  text-align: center;
  height:20px;
  width:20px;
  border-style: solid;
  border-width: thin;
  border-radius: 100%;
  background-color: #F6F6F6;
  cursor: pointer;
}

.night .question_buttons > div > div {
  background-color: black;
}

.question_buttons > div > div:hover {
  opacity: 0.2;
}

.arrows {
  display: flex;
  position: relative;
  width:90%;
  left:9%;
  margin-top: 10px;
}

.arrows > div {
  flex-grow: 1;
}

.arrows > div > img {
  height:20px;
  width:20px;
  flex-grow: 1;
}

.night .arrows > div > img {
  filter: invert(100);
}

.options_box {
  margin-top: 40px;
  margin-bottom: 60px;
  position: relative;
  left: 5%;
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  font-size: 18px;
}

.options_box > div > h2 {
  cursor: pointer;
}

.options_box > div > h2:hover {
  color: #EE2C73;
}

.night .options_box > div > h2:hover {
  color: tan;
}

.comments_box {
  position:relative;
  width: 70%;
  left: 15%;
  text-align: center;
  font-size: 18px;
}

.question_box {
  position:relative;
  margin-top: 20px;
  width: 70%;
  left: 15%;
  text-align: center;
  font-size: 18px;
}

.to_github_box {
  position:relative;
  width: 70%;
  left: 15%;
  text-align: center;
  font-size: 18px;
  padding-bottom: 60px;
}


@media screen and (max-width: 900px) {
  .options_box {
    left: 15%;
    width: 70%;
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr 1fr;
  }
}
