.project_box {
  position: relative;
  padding-top: 50px;
  padding-bottom: 200px;
}

.night .project_box {
  background-color: rgb(41, 41, 48);
  color: white;
}

.night button {
  color: white;
}

.project_page_header {
  position: relative;
  text-align: center;
  margin-top: 200px;
  width: 60%;
  left: 20%;
}

.project_row {
  position: relative;
  display: flex;
  margin-top: 180px;
  text-align: center;
}

.project_title{
  font-family: cursive;
  text-align: center;
  width: 30%;
}

.project_title > button {
  background-color: transparent;
  border-radius: 30%;
  font-size: 18px;
}

.project_description {
  width: 70%;
  font-size: 18px;
}

.project_description > p {
  margin-left: 10%;
  margin-right: 10%;
}

@media screen and (max-width: 700px) {
  .project_row {
    display: block;
  }
  .project_title {
    width:100%;
    margin-bottom: 50px;
  }
  .project_description {
    width:100%;
  }
}
