@font-face {
    font-family: 'Berkshire Swash';
    src: url('https://fonts.googleapis.com/css?family=Berkshire+Swash');
}

@font-face {
  font-family: 'Sedgwick Ave', cursive;
  src: url('https://fonts.googleapis.com/css?family=Sedgwick+Ave');
}

::-webkit-scrollbar {
    display: none;
}

body {
  background: rgb(255, 255, 242);
  margin: 0;
  font-family: serif;
  overflow: hidden; /*this isn't working?*/
}

h1 {
  margin: 0;
}

p {
  margin: 0;
}

img {
  width:100%;
}

span {
  color: #EE2C73;
}

.night span {
  color: tan;
}

.root {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

.image_box {
  top: 50px;
  z-index: 1;
  position: absolute;
  width: 100vw;
}

.creativity_header {
  z-index: 2;
  position: absolute;
  width: 80vw;
  font-size: 8vw;
  font-family: 'Berkshire Swash', cursive;
  color: rgb(55, 79, 54);
  text-align: right;
}

.logic_header {
  z-index: 2;
  position: absolute;
  top: 36vw;
  right: 11vw;
  font-size: 5vw;
  color: orange;
}

.interest_header {
  z-index: 2;
  position: absolute;
  top: 18vw;
  width: 100vw;
  font-size: 12vw;
  color: rgb(194, 35, 17);
  text-align: center;
  font-family: arial;
}

.imagination_header {
  z-index: 2;
  position: absolute;
  top:22vw;
  left:6vw;
  font-size: 12vw;
  font-family: 'Berkshire Swash';
  color: tan;
}

.problem_solving_header {
  z-index: 2;
  position: absolute;
  width: 100vw;
  font-size: 8vw;
  color: orange;
  text-align: right;
  font-family: 'Sedgwick Ave', cursive;
}

.pusuit_of_knowledge_header {
  z-index: 2;
  position: absolute;
  width: 100vw;
  top: 2vw;
  font-size: 4.5vw;
  color: white;
  text-align: center;
  font-family: monospace;
}

.left_down_arrow {
  z-index: 4;
  position: absolute;
  left: 78vw;
  top: 15vw;
  width:22vw;
}

.left_down_arrow:hover {
  opacity: 0.5;
  cursor: pointer;
}

.home_box {
  background-color: rgb(255, 255, 242);
  width: 100vw;
  position: absolute;
  top: 99.6vh;
  z-index: 2;
  border-top-style: solid;
  border-width: thick;
}

.welcome_box {
  position: relative;
  width: 80%;
  left: 10%;
  margin-bottom: 100px;
}

.welcome_clipart {
  position: relative;
  left: 45%;
  width:10%;
  margin-top: 80px;
}

.home_wrapper {
  height: 700px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.home_wrapper > div {
  position: relative;
  display: flex;
  flex-basis: calc(50%);
  align-content: center;
  flex-direction: column;
}

.home_wrapper > div > div {
  background-color: rgb(230, 230, 220);
  border-style: solid;
  border-width: thick;
  border-radius: 5%;
  align-self: center;
  width: 80%;
  height: 80%;
  text-align: center;
}

.home_wrapper button:hover {
  color: #EE2C73;
  cursor: pointer;
}

.night .home_wrapper button:hover {
  color: tan;
  cursor: pointer;
}

.night .home_wrapper > div > div {
  background-color: rgb(20, 20, 25);
}

.home_paragraph_div {
  position: relative;
  font-size: 2vw;
  top: 25%;
  left: 10%;
  height: 60%;
  width: 80%;
}

.home_button_div {
  position: relative;
  min-height: 30%;
}

.home_button {
  border-style: solid;
  border-width: thick;
  border-color: black;
  position: relative;
  height: 60px;
  width: 20vw;
  font-size: 2vw;
  background: transparent;
  font-weight: bold;
  font-family: serif;
}

.night .home_button {
  border-color: white;
  color: white;
}

.home_copyright {
  font-family: cursive;
  font-size: 13px;
  position: relative;
  left:10%;
  width:80%;
  height:100px;
  margin-top: 50px;
  text-align: center;
}

@media screen and (max-width: 1008px) {
  .home_box {
    top: 71.5vw;
  }
  .left_down_arrow {
    visibility: hidden;
  }
}

@media screen and (max-width: 1100px) {
  .home_paragraph_div {
    font-size: 3.2vw;
    top: 10%;
  }
}

@media screen and (max-width: 700px) {
  .bottom {
    color: black;
  }
  .welcome_clipart {
    left: 38%;
    width: 24%;
  }
  .home_wrapper {
    flex-direction: column;
    height: 1050px;
  }
  .home_wrapper > div {
    flex-basis: calc(25%);
  }
  .home_paragraph_div {
    font-size: 4.8vw;
    height: 65%;
  }
  .home_button {
    min-height: 20%;
    width: 40vw;
    font-size: 3.8vw;
  }
}

@media screen and (max-width: 500px) {
  .home_paragraph_div {
    font-size: 7vw;
  }
}
